.skills {
  position: relative;
  padding-bottom: 3.25rem;
  min-height: 85vh;

  @media screen and (max-width: 768px) {
    padding: 0 2rem 3.25rem;
  }

  [data-aos="fade-right"] {
    transform: translate3d(-300px, 0, 0);
  }

  .skill-bx {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 3.75rem 3.25rem;
    margin-top: -1rem;
    background: #151515;
    border-radius: 4rem;

    @media screen and (max-width: 480px) {
      padding: 3.75rem 0;
    }

    p {
      color: #b8b8b8;
      font-size: 1.25rem;
      letter-spacing: 0.05rem;
      line-height: 1;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    h3 {
      font-size: 2rem;
      color: #665ccd;  
      font-weight: 600;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
    }

    .skills-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr); 
      grid-gap: 2rem; 
      justify-items: center; 
      margin-top: 2rem;

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr); 
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); 
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr); 
      }

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 5rem; 
        }

        h5 {
          margin-top: 10px;
          font-size: 1.25rem;
          text-align: center;
        }
      }
    }
  }

  .background-image-left {
    width: 40%;
    position: absolute;
    top: 28%;
    bottom: 0;
    z-index: -1;
  }
}
